<!DOCTYPE html>
<html>
  <head>
    <mate charest="utf-8" />
    <title>A2Z</title>
    <style>
      table {
        border: 1px solid grey;
        width: 100%;
      }
      td, th {
        text-align: center;
        border: 1px solid grey;
      }
    </style>
  </head>
  <body>
    <div style="width: 100%; float: left;">
      <span style="float:left">
        <h3>Order No: {{num}}</h3>    
      </span>
    </div>
    <br />
    <div style="width: 100%; float: left;">
      <span style="float:left">
        <h3>Customer Name: {{name}}</h3>    
      </span>
      <span style="float:right">
        <h3>{{mobile}}</h3>
      </span>
    </div>
    <br />
    <div style="width: 100%; float: left;">
      <span style="float:left">
        <h3>{{shopName}} - {{city}}</h3>    
      </span>
    </div>
    <table>
      <tr>
        <th>#</th>
        <th>Category</th>
        <th>Product</th>
        <th>Item</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
      {{#each products}}
      <tr>
        <td>{{this.sno}}</td>
        <td>{{this.categoryName}}</td>
        <td>{{this.productName}}</td>
        <td>{{this.itemName}}</td>
        <td>{{this.value}}</td>
        <td>{{this.price}}</td>
      </tr>
      {{/each}}
      <tr>
        <td colspan="4">Total</td>
        <td>{{totalItems}}</td>
        <td>{{totalValue}}</td>
      </tr>
    </table>
  </body>
</html>